@charset "UTF-8";
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #3f3d47;
}
body.light {
  background-color: #ebebeb;
}
.game {
  pointer-events: none;
}
.menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu img {
  display: block;
  margin: 13px;
}
.menu .playpause:hover {
  cursor: pointer;
  opacity: 0.6;
}
.menu .switch img {
  display: inline-block;
}
.menu .switch .rain:hover {
  cursor: pointer;
  opacity: 0.6;
}
.menu .switch.dark .rain:hover {
  cursor: default;
}
.menu .switch.dark .snow:hover {
  cursor: pointer;
  opacity: 0.6;
}
